In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
#12
X = df[['T2']]
y= df['T6']

linreg = LinearRegression()

linreg.fit(X,y)
y_pred = linreg.predict(X)

r_2 = r2_score(y, y_pred)
r_2

0.6418990830855493

In [4]:
#13
df = df.drop(['date', 'lights'], axis=1)
scaler = MinMaxScaler()
scaled_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

predictors = scaled_df.drop('Appliances', axis=1)
target = scaled_df['Appliances']
X_train, X_test, y_train , y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

linreg = LinearRegression()
linreg.fit(X_train, y_train)

y_test_pred = linreg.predict(X_test)

mse = round(mean_absolute_error(y_test, y_test_pred), 2)
mse

0.05

In [5]:
#14
rss = round((mean_squared_error(y_test, y_test_pred))*len(X_test), 2)
rss

45.35

In [6]:
#15
rmse = round(mean_squared_error(y_test, y_test_pred, squared=False), 3)
rmse

0.088

In [7]:
#16
r_2 = round(r2_score(y_test, y_test_pred), 2)
r_2

0.15

In [8]:
#17
pd.Series(linreg.coef_, X_train.columns).sort_values()

RH_2          -0.456698
T_out         -0.321860
T2            -0.236178
T9            -0.189941
RH_8          -0.157595
RH_out        -0.077671
RH_7          -0.044614
RH_9          -0.039800
T5            -0.015657
T1            -0.003281
rv1            0.000770
rv2            0.000770
Press_mm_hg    0.006839
T7             0.010319
Visibility     0.012307
RH_5           0.016006
RH_4           0.026386
T4             0.028981
Windspeed      0.029183
RH_6           0.038049
RH_3           0.096048
T8             0.101995
Tdewpoint      0.117758
T6             0.236425
T3             0.290627
RH_1           0.553547
dtype: float64

In [9]:
#18
ridge = Ridge(alpha=0.4)
ridge.fit(X_train, y_train)
 
pred = ridge.predict(X_test)
mean_squared_error(y_test, pred, squared=False)

0.08753385704628003

In [11]:
#19
las = Lasso(alpha=0.001)
las.fit(X_train, y_train)
pred = las.predict(X_test)
sum((las.coef_) !=0)

4

In [12]:
#20
mse = round(mean_squared_error(y_test, pred, squared=False), 3)
mse

0.094